div.zxf_pagediv{
	text-align: center;
	color: #999999;
    margin-top: 5px;
}
div.zxf_pagediv a{
	text-decoration: none;
	
}
div.zxf_pagediv span,div.zxf_pagediv a{
	display: inline-block;
}

.zxfPagenum{
	display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #000;
    font-size: 12px;
    border-radius: 18px;
    margin:0 3px;
}
span.disabled,.nextbtn,.prebtn{
    width: 50px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    background: #004c5d;
    padding: 0 5px;
    font-size: 14px;
    color:#fff;
}
.zxfinput{
	width: 50px;
	height: 17px;
	text-align: center;
	margin: 0 12px;
	background-color:  #004c5d;
	color:#fff;
	line-height: 20px;
	border:none;
}
.zxfokbtn{
	width: 51px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
    background-color: #006076;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
}
.nextpage{
	color: #d71f1b;
	margin: 0 5px;
	border: 1px solid #d71f1b;
}
.current{
    background-color: #004c5d!important;
    color: #fff!important;
}
.margin-left{
    display: inline-block;
    margin-left: 20px;
}